{% assign pt =  section.settings.padding_top | prepend: 'pt-' %}
{% assign pb =  section.settings.padding_bottom | prepend: 'pb-' %}
{% assign mt =  section.settings.margin_top | prepend: 'mt-' %}
{% assign mb =  section.settings.margin_bottom | prepend: 'mb-' %}

<div
    id="image-with-text-{{ section.id }}"
    class="image-with-text {{ pt }} {{ pb }} {{ mt }} {{ mb }} {{ section.settings.bg_color }} {% unless section.settings.animate_class == blank %}animate__animated{% endunless %}"
    data-animate="{{ section.settings.animate_class }}">
    <div class="{% if section.settings.container %} container{% else %}container-fluid{% endif %}">

        <div class="row align-items-center {{ section.settings.img_alignment }}">

            <div class="col-md">
                {% if section.settings.img != blank %}
                    {% assign img_size = section.settings.img_width | append: 'x' | append: section.settings.img_height %}
                    <img
                        class="img-fluid mb-4 mb-md-0 {% if section.settings.img_thumbnail %}img-thumbnail{% else %}rounded{% endif %}"
                        data-src="{{ section.settings.img.src | img_url: img_size, crop: 'center' }}"
                        alt="{{ section.settings.image.alt | escape }}"
                        width="{{ section.settings.img_width }}"
                        height="{{ section.settings.img_height }}"
                        loading="lazy">
                {% else %}
                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg bg-light mb-4 mb-md-0 rounded' }}
                {% endif %}
            </div>

            <div class="col-md">

                {% if section.settings.title != blank %}
                    <h2 class="title {{ section.settings.title_size }}">
                        {{ section.settings.title }}
                    </h2>
                {% endif %}

                {% if section.settings.description != blank %}
                    <div class="description rte {% if section.settings.description_lead %}lead{% endif %}">
                        {{ section.settings.description }}
                    </div>
                {% endif %}

                {% if section.settings.btn_url != blank %}
                    <a href="{{ section.settings.btn_url }}" class="btn mt-5 mb-1 {{ section.settings.btn_color }} {{ section.settings.btn_size }}">
                        {{ section.settings.btn_text }}
                    </a>
                {% endif %}

            </div>

        </div>

    </div>
</div>

{% schema %}
{
    "name": "Imagem com texto",
    "settings": [
        {
            "type": "header",
            "content": "Configurações Gerais"
        },
        {
            "type": "select",
            "id": "bg_color",
            "label": "Cor do background",
            "default": "bg-white text-body",
            "options": [
                { "group": "Light", "value": "bg-white text-body", "label": "White" },
                { "group": "Light", "value": "bg-light text-body", "label": "Light" },
                { "group": "Dark", "value": "bg-dark text-white", "label": "Dark" },
                { "group": "Dark", "value": "bg-primary text-white", "label": "Primary" },
                { "group": "Dark", "value": "bg-secondary text-white", "label": "Secondary" },
                { "group": "Gradient", "value": "bg-dark-gradient text-white", "label": "Dark" },
                { "group": "Gradient", "value": "bg-primary-gradient text-white", "label": "Primary" },
                { "group": "Gradient", "value": "bg-secondary-gradient text-white", "label": "Secondary" },
                { "group": "Gradient", "value": "bg-custom-gradient text-white", "label": "Custom" }
            ]
        },
        {
            "type": "checkbox",
            "id": "container",
            "label": "Wrap Container",
            "default": true
        },
        {
            "type": "header",
            "content": "Configurações de imagem"
        },
        {
            "type": "image_picker",
            "id": "img",
            "label": "Imagem"
        },
        {
            "type": "text",
            "id": "img_width",
            "label": "Largura da imagem (px)",
            "default": "720"
        },
        {
            "type": "text",
            "id": "img_height",
            "label": "Altura da imagem (px)",
            "default": "405"
        },
        {
            "type": "checkbox",
            "id": "img_thumbnail",
            "label": "Borda da imagem",
            "default": true
        },
        {
            "type": "select",
            "id": "img_alignment",
            "label": "Alinhamento da imagem",
            "info": "Nota: No celular, a imagem estará sempre na parte superior e o texto na parte inferior",
            "default": "flex-row",
            "options": [
                { "value": "flex-row", "label": "Esquerda" },
                { "value": "flex-row-reverse", "label": "Direita" }
            ]
        },
        {
            "type": "header",
            "content": "Configurações de texto"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Título",
            "default": "Imagem com texto"
        },
        {
            "type": "select",
            "id": "title_size",
            "label": "Tamanho do Título",
            "default": "h2",
            "options": [
                {  "value": "h1", "label": "H1" },
                {  "value": "h2", "label": "H2" },
                {  "value": "h3", "label": "H3" },
                {  "value": "h4", "label": "H4" },
                {  "value": "h5", "label": "H5" },
                {  "value": "h6", "label": "H6" }
            ]
        },
        {
            "type": "richtext",
            "id": "description",
            "label": "Descrição",
            "default": "<p>Combine um texto grande com uma imagem para dar foco ao produto, coleção ou postagem do blog que você escolheu. Adicione detalhes sobre disponibilidade, estilo ou até mesmo forneça um comentário.</p>"
        },
        {
            "type": "checkbox",
            "id": "description_lead",
            "label": "Fonte grande da descrição",
            "default": false
        },
        {
            "type": "header",
            "content": "Configurações de botão"
        },
        {
            "type": "url",
            "id": "btn_url",
            "label": "URL do botão",
            "info": "Deixe em branco para desativar o botão"
        },
        {
            "type": "text",
            "id": "btn_text",
            "label": "Botão de texto",
            "default": "Saber mais"
        },
        {
            "type": "select",
            "id": "btn_color",
            "label": "Cor do botão",
            "default": "btn-outline-primary",
            "options": [
                { "group": "Normal", "value": "btn-link", "label": "Link" },
                { "group": "Normal", "value": "btn-light", "label": "Light" },
                { "group": "Normal", "value": "btn-dark", "label": "Dark" },
                { "group": "Normal", "value": "btn-primary", "label": "Primary" },
                { "group": "Normal", "value": "btn-secondary", "label": "Secondary" },
                { "group": "Normal", "value": "btn-success", "label": "Success" },
                { "group": "Normal", "value": "btn-danger", "label": "Danger" },
                { "group": "Normal", "value": "btn-warning", "label": "Warning" },
                { "group": "Normal", "value": "btn-info", "label": "Info" },
                { "group": "Outline", "value": "btn-outline-dark", "label": "Dark Outline" },
                { "group": "Outline", "value": "btn-outline-primary", "label": "Primary Outline" },
                { "group": "Outline", "value": "btn-outline-secondary", "label": "Secondary Outline" },
                { "group": "Outline", "value": "btn-outline-success", "label": "Success Outline" },
                { "group": "Outline", "value": "btn-outline-danger", "label": "Danger Outline" },
                { "group": "Outline", "value": "btn-outline-warning", "label": "Warning Outline" },
                { "group": "Outline", "value": "btn-outline-info", "label": "Info Outline" }
            ]
        },
        {
            "type": "select",
            "id": "btn_size",
            "label": "Tamanho do botão",

            "options": [
                { "value": "btn-sm", "label": "Pequeno" },
                { "value": "", "label": "Normal" },
                { "value": "btn-lg", "label": "Grande" }
            ]
        },
        {
            "type": "header",
            "content": "Espaçamento",
            "info": "Com base nas classes do utilitário de espaçamento Bootstrap [Saiba mais](https://getbootstrap.com/docs/4.5/utilities/spacing/)"
        },
        {
            "type": "range",
            "id": "padding_top",
            "label": "Padding top",
            "min": 0,
            "max": 15,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "label": "Padding bottom",
            "min": 0,
            "max": 15,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "margin_top",
            "label": "Margin top",
            "min": 0,
            "max": 15,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "margin_bottom",
            "label": "Margin bottom",
            "min": 0,
            "max": 15,
            "step": 1,
            "default": 9
        }

    ],
    "presets": [
        {
            "name": "Imagem com texto",
            "category": "imagem"
        }
    ]
}
{% endschema %}
