<div
	id="looxCarousel"
	data-show-more="{{section.settings.show_more}}"
	data-max-width="{{section.settings.max_width}}"
	data-arrows-color="{{section.settings.arrows_color}}"
	data-dots-color="{{section.settings.dots_color}}"
	data-button-color="{{section.settings.button_color}}"

	{% if section.settings.product_handle %}data-product-ids="{{ all_products[section.settings.product_handle].id }}"{% endif %}
	{% if section.settings.only_photos %}data-mode="img"{% endif %}
    {% if section.settings.use_widget_font %}data-use-widget-font="true"{% endif %}

></div>
{% schema %}
{
	"name": "Loox Carousel",
	"class": "index-section",
	"settings": [
		{
			"type": "range",
			"id": "max_width",
			"min": 480,
			"max": 1920,
			"step": 40,
			"unit": "px",
			"label": "Largura máxima",
			"default": 1920
		},
		{
			"id": "arrows_color",
			"type": "color",
			"label": "Cor das setas"
		},
		{
			"id": "dots_color",
			"type": "color",
			"label": "Cor dos pontos"
		},
		{
			"id": "button_color",
			"type": "color",
			"label": "Cor do botao"
		},
		{
			"id": "show_more",
			"type": "checkbox",
			"label": "Exibição \"Mostre mais\" botão",
			"default": true
		},
		{

			"id": "only_photos",
			"type": "checkbox",
			"label": "Exibir apenas comentários com fotos",
			"default": false
		},
		{
			"id": "use_widget_font",
			"type": "checkbox",
			"label": "Usar widget'fonte s para revisões de texto",
			"default": false
		},
		{
			"type": "product",
			"id": "product_handle",
			"label": "Use todas as análises deste produto:"
		}
	],
	"presets": [{
		"name": "Loox Carrossel",
		"category": "Loox"
	}]
}
{% endschema %}