<article>

    <!-- Header -->
    <header
        id="page-header"
        class="page-header text-center mb-7">
        <div class="container">

            <h3 class="">
                {{ page.title }}
            </h3>

            {% unless section.settings.description == blank %}
                <div class="rte lead text-muted">
                    {{ section.settings.description }}
                </div>
            {% endunless %}

        </div>
    </header>

    <!-- Page content -->
    <div class="about-page-content mb-7">
        <div class="container" style="{% unless section.settings.page_max_width == blank %}max-width: {{ section.settings.page_max_width }}px;{% endunless %}">
            {{ page.content }}
        </div>
    </div>

    <!-- F.A.Q Blocks -->
    <div class="container" style="{% unless section.settings.page_max_width == blank %}max-width: {{ section.settings.page_max_width }}px;{% endunless %}">

        <div id="accordion-{{ section.id }}" class="accordion">
            {% for block in section.blocks %}
                <div class="card">
                    <div class="card-header" id="heading-{{ block.id }}">
                        <h3 class="mb-0">
                            <button
                                class="btn btn-link text-dark btn-block text-left text-decoration-none"
                                type="button"
                                data-toggle="collapse"
                                data-target="#collapse-{{ block.id }}"
                                aria-expanded="{% if forloop.index0 == 0 %}true{% else %}false{% endif %}"
                                aria-controls="collapse-{{ block.id }}">
                                {{ block.settings.title | escape }}
                            </button>
                        </h3>
                    </div>

                    <div
                        id="collapse-{{ block.id }}"
                        class="collapse {% if forloop.index0 == 0 %}show{% endif %}"
                        aria-labelledby="heading-{{ block.id }}"
                        data-parent="#accordion-{{ section.id }}">
                        <div class="card-body">
                            {{ block.settings.description }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>

</article>

{% schema %}
{
    "name": "F.A.Q page",
    "settings": [
        {
            "type": "header",
            "content": "Configurações gerais"
        },
        {
            "type": "richtext",
            "id": "description",
            "label": "Descrição",
            "default": "<p>Perguntas frequentes para nossa loja</p>",
            "info": "Deixe em branco para desativar"
        },
        {
            "type": "text",
            "id": "page_max_width",
            "label": "Largura máxima da página (px)",
            "info": "Deixe em branco para desativar",
            "default": "767"
        }
    ],
    "blocks": [
        {
            "type": "faq",
            "name": "F.A.Q",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Título"
                },
                {
                    "type": "richtext",
                    "id": "description",
                    "label": "Descrição"
                }
            ]
        }
    ],
    "default": {
        "settings": {
        },
        "blocks": [
            {
                "type": "faq",
                "settings": {
                    "title": "Para onde você envia?",
                    "description": "<p>Enviamos para todo o mundo ... Forneça aqui as suas informações de envio, incluindo horários, preços, opções, etc..</p>"
                }
            },
            {
                "type": "faq",
                "settings": {
                    "title": "Quanto tempo vai demorar para receber meu pedido",
                    "description": "<p>Nosso envio é grátis para todo o Brasil, sem surpresas adicionais. nosso prazo é de15 à 35 dias úteis para chegar. Nunca mais se preocupe em pagar frete!</p>"
                }
            },
            {
                "type": "faq",
                "settings": {
                    "title": "Quais métodos de pagamento vocês aceitam?",
                    "description": "<p>Aceitamos Pix, Visa, MasterCard e American Express, mas sinta-se à vontade para nos contatar para outras opções de pagamento.</p>"
                }
            },
            {
                "type": "faq",
                "settings": {
                    "title": "Todos pedidos acompanham número de rastreio ?",
                    "description": "<p>Sim. Nós prezamos pela transparência e por isso todos os produtos são enviados com códigos de rastreamento válidos internacionalmente. </p>"
                }
            },
            {
                "type": "faq",
                "settings": {
                    "title": "Posso fazer um pedido como presente para outra pessoa?",
                    "description": "<p>Ao fazer o pedido como um presente para alguém, certifique-se de inserir seu endereço de e-mail para receber todas as informações de resumo, mas insira o nome do destinatário e as informações de envio. Manteremos todos os preços e receitas fora do pacote.</p>"
                }
            },
            {
                "type": "faq",
                "settings": {
                    "title": "Como posso obter o reembolso do meu pedido?",
                    "description": "<p>Se por algum motivo você não estiver totalmente satisfeito com sua compra, dentro de 7 dias após receber seu pedido, iremos reembolsá-lo por sua compra sem perguntas.</p>"
                }
            }
        ]
    }
}
{% endschema %}
