<div id="password-page" class="text-center bg-white rouned pt-6 pb-4 px-4 mx-auto" style="max-width: 600px;">

    <!-- Logo -->
    {% if section.settings.logo == blank %}
        <span id="logo-text" class="h2 d-block">{{ shop.name }}</span>
    {% else %}
        <img
            id="logo-image"
            class="img-fluid"
            data-src="{{ section.settings.logo | img_url: 'master' }}"
            loading="lazy"
            alt="{{ section.settings.logo.alt | default: shop.name }}"
            width="{{ section.settings.logo_height | times: section.settings.logo.aspect_ratio | round }}"
            height="{{ section.settings.logo_height }}">
    {% endif %}

    <!-- Password Message -->
    {% if shop.password_message != blank %}
        <p class="mb-5">
            {{ shop.password_message }}
        </p>
    {% endif %}

    {% if section.settings.show_countdown %}
        <ul id="password-countdown" class="list-inline my-7" aria-hidden="true">
            <li class="list-inline-item m-1 border">
                <span id="countdown-days"></span>
                <small class="opacity-75">Dias</small>
            </li>
            <li class="list-inline-item m-1 border">
                <span id="countdown-hours"></span>
                <small class="opacity-75">Horas</small>
            </li>
            <li class="list-inline-item m-1 border">
                <span id="countdown-minutes"></span>
                <small class="opacity-75">Minutos</small>
            </li>
            <li class="list-inline-item m-1 border">
                <span id="countdown-seconds"></span>
                <small class="opacity-75">Segundos</small>
            </li>
        </ul>
        <span class="sr-only">
            {{ 'general.password_page.store_will_open' | t }}
            {{ section.settings.countdown_date | time_tag }}
        </span>
    {% endif %}

    {% if section.settings.show_social_icons %}
        {% if settings.share_facebook or settings.share_twitter %}
            <div class="mb-5">
                <p class="text-muted mb-1 small">{{ 'general.password_page.spread_the_word' | t }}</p>
                {% include 'social-sharing', share_image: settings.share_image | img_url: 'master' %}
            </div>
        {% endif %}
    {% endif %}

    {% form 'storefront_password', class: 'bg-light py-5 px-3' %}

      {{ form.errors | default_errors }}

      <div class="input-group mb-3">
            <input type="password" name="password" class="form-control" placeholder="{{ 'general.password_page.form.password_placeholder' | t }}" aria-label="{{ general.password_page.password_placeholder | t }}" required>
            <div class="input-group-append">
                <button class="btn btn-outline-primary" type="submit" id="button-addon2">{{ 'general.password_page.form.submit' | t }}</button>
            </div>
        </div>
      <p class="small text-muted mb-0">Você é o dono da loja?<a href="/admin" class="theme-link-color"> Entre aqui</a></p>

    {% endform %}

</div>

<!-- Footer -->
<footer id="copyright" class="font-italic small py-5 text-center">
    <span class="opacity-75 d-block">
        &copy; {{ 'now' | date: "%Y" }}, {{ shop.name }}
    </span>
    {% if section.settings.show_powered_by %}
        <br class="d-md-none">
        <span class="opacity-75">Powered by</span>
        <a href="https://www.shopify.com/" target="_blank" class="font-weight-normal">Shopify</a>,
    {% endif %}
    {% if section.settings.show_theme_by %}
        <span class="opacity-75">Tema por</span>
        <a href="https://orbeecom.com/" target="_blank" class="font-weight-normal">OrbeEcom - E-commerce profissional de alta performance</a>
    {% endif %}
</footer>

<style>
#shopify-section-template-password {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    flex-direction: column;
    padding: 2.5rem 0;
}

@media (max-width: 600px) {
    #shopify-section-template-password {
    padding: 1rem;
    }
}

.container {
    max-width: 720px;
}

/* Countdown */
ul#password-countdown {
}

@media (max-width: 600px) {
    ul#password-countdown {
        max-width: 320px;
        margin-left: auto;
        margin-right: auto;
    }
}
ul#password-countdown li {
    border-width: 2px !important;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    line-height: normal;
}
ul#password-countdown li span {
    display: block;
    font-size: 2rem;
}
ul#password-countdown li small {
}
</style>

{% if section.settings.show_countdown %}
<script>
    const second = 1000,
        minute = second * 60,
        hour = minute * 60,
        day = hour * 24;

    let countDown = new Date('{{ section.settings.countdown_date }}').getTime(),

    x = setInterval(function() {

        let now = new Date().getTime(),
            distance = countDown - now;

        document.getElementById('countdown-days').innerText = Math.floor(distance / (day)),
        document.getElementById('countdown-hours').innerText = Math.floor((distance % (day)) / (hour)),
        document.getElementById('countdown-minutes').innerText = Math.floor((distance % (hour)) / (minute)),
        document.getElementById('countdown-seconds').innerText = Math.floor((distance % (minute)) / second);

        //do something later when date is reached
        //if (distance < 0) {
        //  clearInterval(x);
        //  'IT'S MY BIRTHDAY!;
        //}

    }, second)
</script>
{% endif %}

{% schema %}
{
    "name": "Página de senha",
    "settings": [
        {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo"
        },
        {
            "type": "text",
            "id": "logo_height",
            "label": "Altura do logotipo (px)",
            "default": "40"
        },
        {
            "type": "checkbox",
            "id": "show_countdown",
            "label": "Mostrar contagem regressiva",
            "default": true
        },
        {
            "type": "text",
            "id": "countdown_date",
            "label": "Data de contagem regressiva",
            "default": "Dec 31, 2020 00:00:00",
            "info": "E.g: Dec 31, 2020 00:00:00"
        },
        {
            "type": "checkbox",
            "id": "show_social_icons",
            "label": "Show social icons",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "show_powered_by",
            "label": "Mostrar link 'distribuido por'",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "show_theme_by",
            "label": "Mostrar link 'tema por'",
            "default": true
        }
    ]
}
{% endschema %}
